html
	head
		title Welcome to the user informatin web server
	body
		p We currently have the following users:
		ul
			each user in userList
				li= user.firstName + " " + user.lastName
		p Search users 
			a(href="./search") here